@import 'tailwindcss';

.backdrop {
	position: fixed;
	inset: 0;
	pointer-events: none;
	z-index: -1;
	background:
		linear-gradient(130deg, transparent, oklch(66% 0.2 288) 75%),
		linear-gradient(230deg, transparent, oklch(66% 0.12 0) 60%);
}

button:not([disabled]) {
	cursor: pointer;
}

#run-button > img {
	opacity: 0;
}
#run-button[disabled] > img {
	opacity: 1;
}
